{{ 'brand-directory.css' |  asset_url |  stylesheet_tag }}

<div class="brand-directory" style="background-color: {{ section.settings.background_color }}">
    <div class="brand-directory-content">
        <h3 class="brand-directory-heading">All Brands</h3>
        <div class="brand-directory-container">
            {% for block in section.blocks %}
            <a href="{{ block.settings.collection.url }}" class="brand-item">
                <div class="brand-content">
                    <img src="{{ block.settings.collection.image.src | img_url: '720x' }}" alt="{{ block.settings.brand_text }}">
                    <p>{{ block.settings.brand_text }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
{
    "name": "brand-directory",
    "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#ffffff"
        }
    ],
    "blocks": [
        {
            "type": "brand",
            "name": "Brand",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "brand-directory",
            "category": "Custom"
        }
    ]
}
{% endschema %}
